{% extends "base_generic.html" %}

{% block content %}
<div class="container" style="max-width: 500px; margin: 0 auto; padding: 20px; background-color: white; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <h2 class="text-center" style="color: #1867B7; font-weight: bold; margin-bottom: 20px;">¡Sesión finalizada!</h2>
    <a href="{% url 'login' %}" class="btn btn-primary btn-block">Iniciar sesión</a>
    <a href="{% url 'registro' %}" class="btn btn-success btn-block">Registrarse</a>
{% endblock %}